In [2]:
from glob import glob
import pandas as pd

In [33]:
scores = glob('./ACANetOPT/*_delta_scoring.csv')

In [34]:
res = []
for s in scores:
    df = pd.read_csv(s, index_col=0).astype(str)
    
    p = df.loc['Avg'] + '+' + df.loc['Std. Dev.']
    m = s.split('/')[-2]
    d = s.split('/')[-1]
    n = d.split('_')[0]
    p = p.to_frame(name = n)
    res.append(p)

In [35]:
pd.concat(res, axis=1).T

            Pearson's r          MAE         RMSE
HepClear    0.431+0.014   0.45+0.004  0.561+0.005
RenClear    0.507+0.012   0.25+0.003  0.329+0.003
Caco2       0.844+0.004  0.451+0.005  0.587+0.009
HemoTox     0.842+0.003   0.48+0.003  0.626+0.006
Sol         0.942+0.001  0.752+0.004  0.995+0.005
MicroClear  0.444+0.005  0.436+0.002  0.544+0.002
FUBrain      0.67+0.013  0.632+0.013  0.818+0.018
HalfLife    0.588+0.007  0.557+0.004  0.727+0.005
VDss         0.76+0.002  0.452+0.003  0.599+0.003
FreeSolv    0.954+0.002  0.995+0.011  1.653+0.025

                 FUBrain
Pearson's r   0.662+0.01
MAE          0.638+0.008
RMSE          0.827+0.01